 @font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-900';
    src: url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('Avenir-Heavy.woff2') format('woff2'),
        url('Avenir-Heavy.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Heavy.woff2') format('woff2'),
        url('Avenir-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-medium';
    src: url('Avenir-Heavy.woff2') format('woff2'),
        url('Avenir-Heavy.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}